.searchbox input {
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  width: 25rem;
  height: 2.5rem;
}

@media (prefers-color-scheme: light) {
  .searchbox input {
    border: 1px solid #213547;
  }
}
